.square-lg {
    border: 1px solid green;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0px auto;
}

.square-sml {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}